@use '@biocad-test/ui/styles' as ds;

.SequenceContent {
  display: grid;
  gap: 24px;
  padding: 100px 0;
}

.SequenceContent__title {
  font-size: 24px;
  font-weight: 500;
}

.SequenceContent__link {
  color: ds.$color-link-default;
  transition: color 0.25s;

  &:hover,
  &:focus-visible {
    color: ds.$color-link-hover;
  }

  &:active {
    color: ds.$color-link-pressed;
  }
}
